/* Navbar */
.navbar {
    display: flex;
    align-items: center;
}

.search,
#categoryFilter,
.cart-btn {
    margin: 10px;
    height: 50px !important;
}

.cart-btn {
    width: 35% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Product Grid */
main {
    margin-top: 9% !important;
}

/* Product Details */
#productDetail {
    display: flex;
    justify-content: center;
}

.product-detail-card {
    max-width: 80%;
    margin: 20px;
    padding: 10px !important;
    border-radius: 15px;
    overflow: hidden;
}

.product-detail-card h2 {
    text-decoration: underline;
}

.product-detail-card img {
    margin: 10px auto;
    width: 50% !important;
    display: block;
}

.product-image {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
}

.product-image:hover {
    transform: scale(1.02);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
}

.review-card {
    border-left: 5px solid #007bff;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.review-card:hover {
    transform: scale(1.02);
}

.avatar img {
    width: 50px;
    height: 50px;
}

.product-detail-action {
    display: flex !important;
    justify-content: space-around !important;
    padding-bottom: 30px;
}

/* Product Action */
.product-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Responsive Design */
@media (min-width: 1200px) {
    .custom-col {
        flex: 0 0 25% !important;
        /* 4 cards per row */
        max-width: 25% !important;
    }
}

@media (max-width: 770px) {
    .product-action {
        flex-direction: column !important;
        align-items: stretch !important;
        gap: 5px !important;
    }

    .product-container {
        margin-top: 70px !important;
    }

    .product-action .btn {
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    .product-card {
        max-width: 85% !important;
        margin: auto !important;
    }

    .product-action {
        flex-direction: row !important;
        justify-content: space-around !important;
        gap: 10px !important;
        align-items: center;
    }

    .product-container {
        margin-top: 70px !important;
    }

    .product-action .btn {
        width: auto !important;
    }
}

@media (max-width: 335px) {
    .product-action {
        flex-direction: column !important;
    }

    .product-action .btn {
        width: 100% !important;
    }
}